# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
/.pnp
.pnp.js

# Environment Variables
.env
.env.local
.env.*
.env.development
.env.test
.env.production
.env.staging

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.hprof

# Native
.kotlin/
ios/Pods/
android/.gradle
android/app/build/
android/build/
android/local.properties
ios/build/

# Metro
.metro-health-check*
.metro/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.idea
.gradle
local.properties

# Testing
/coverage
.jest/
__tests__/coverage/

# Production
/build
/dist

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temporary files
*.log
*.tmp
*.temp
.cache/

# Xcode
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcworkspace/contents.xcworkspacedata
**/ios/.xcode.env.local
ios/Pods/
ios/build/
DerivedData/
.env
